[2021-09-02 12:55] WrRaThY opened #1 "help needed?"
Hey
A.J. said you're gonna be building this soon.
I can see that you guys started working on this already - do you need any help? or early adopters?

cheers

[2021-09-06 13:29] #1 closed

[2021-09-20 08:41] lexich opened #7 "Add support @metaplex/js to graphql server"
While `@metaplex/js` isn't published we need workaround to use it from repo

[2021-09-20 09:19] lexich commented on #7
Mi

[2021-09-20 09:19] #7 closed

[2021-09-21 21:30] LAV42 opened #9 "npmjs.com package doesn't fit any tag, examples not working with package"
Hello there,

I'm trying to do some first steps with the JS interface.

Using the package published to https://www.npmjs.com/package/@metaplex/js to run the examples does not work.

Since this is under heavy development I figured I should just checkout the repo at the version tagged on the npm package (0.0.1)
but turns out there are no tags.

[code]

Thanks

[2021-09-23 19:05] LAV42 commented on #9
After spending more time in the Metaplex ecosystem I realise how early all of this is.

I suspect that my issue is going to be completely irrelevant days from now. So closing the issue for now.

[2021-09-23 19:05] #9 closed

[2021-09-28 12:40] israelidanny opened #11 "buffer-layout typescript issue"
We have an issue with one of our upstream dependencies:
[code]

It appears that `@solana/spl-token` depends on this package, and it currently has no TypeScript support:
https://github.com/pabigot/buffer-layout/issues/30

[2021-10-04 12:06] israelidanny opened #20 "Missing foreign keys on the Rust programs"
Let's make a list of all missing foreign keys on the Rust program as requested by @adamjeffries

- [ ] WhitelistedCreator should reference the parent Store account
- [ ] An AuctionManager should be more obviously connected to the Metadata? (not 100% sure about the exact structure of this one, but makes sense to not have to query it implicitly via WhitelistedCreators but rather directly)

[2021-10-04 12:16] israelidanny opened #22 "Suggestion: Decouple minting from storage and potentially throw out concept of storage from core SDK"
We were discussing it with @m-sebastiyan
The minting process is not layered enough in my opinion and depends too much on `uploadFile4`. I realize that it's an attempt at better UX, but it sacrifices good DX in return.

My suggestions are:
1. Make the minting helper / process only care about pre-uploaded URL's. We don't care where (it could be IPFS, S3, Media Network CDN, Arweave and many more in t

[2021-10-16 21:51] WrRaThY opened #37 "cannot install at all"
I get the following error (and we don't even use husky).
`npm install @metaplex/js` was executed from the root directory (the one with .git), so I don't think that this error refers to out `.git` even?

### from gitbash (part of git for windows)
wooha@Asus-ROG-Strix MINGW64 /c/_work/_serious/Slothana/sloth-combiner (master)
$ npm install @metaplex/js
npm ERR! code 1
npm ERR! path C:\_work\sloth-co

[2021-10-17 04:17] oboxodo commented on #37
And I tried installing it in a blank new project and it didn't work.

[code]

@m-sebastiyan any clue about this?

[2021-10-17 07:24] WrRaThY commented on #37
what worked for me (as a workaround) is:
-  clone the project locally
- build  it locally
- `npm link` it to your project

[2021-10-17 08:00] m-sebastiyan commented on #37
Hello, thanks for creating the issue.

Fixed in 2.0.1 (#38), please try again.

[2021-10-17 13:03] oboxodo commented on #37
@m-sebastiyan That solved it for me. Thanks! I think this ticket could be closed.

[2021-10-17 14:46] #37 closed

[2021-10-18 08:59] Rasfuranku opened #39 "Invalid owner"
I am trying to set up the project and when getting the metadata I always got the following error.

Tried on different environments with the same result.

Happening in both v2.0.0, v2.0.1 versions.

[code]

[2021-10-19 07:42] WrRaThY commented on #39
@m-sebastiyan any hints on getting the `Metadata address` based on the `mint address`?

[2021-10-20 13:25] aheckmann commented on #22
1. We care about storage insofar as the default is decentralized storage.
2. People should be able to override or skip the upload step to use the storage solution of choice.
3. Modularizing the providers makes sense too, so there are upload modules for each common storage solution people can contribute / use. It could be a plugin approach too where we wouldn't need to store them all in this reposi

[2021-10-20 14:21] israelidanny commented on #22
@aheckmann It's more of a question of layering. A low level SDK that deals with transactions , program addresses and basic things like that should provide the transactions to create a MetaData program account, for instance

The ideal layering here would be to have a separate repo for the uploader / uploaders.

This way you don't deal with extra dependencies / weight of axios, form-data in the base

[2021-10-20 14:26] israelidanny commented on #11
Done @jstarry
https://github.com/solana-labs/solana-program-library/issues/2534

If they take too long I'll submit a PR too

[2021-10-21 04:27] hwsimmons17 commented on #39
That is so incredibly helpful!!! Much better than the jenky code I was running earlier! Thank you so much

[2021-10-21 06:57] #39 closed, assigned to nobody

[2021-10-21 07:23] Rasfuranku opened #41 "Metadata not exported"
Any reason why Metadata is not exported in version 3?

[2021-10-21 08:42] kurpav commented on #41
Hi @Rasfuranku
There were breaking changes in the exports. Now you have to export Metadata from `programs.metadata`.
[code]

You can also find updated examples in the README.

[2021-10-21 08:42] #41 closed, assigned to nobody

[2021-10-23 01:21] kevinfaveri opened #42 "How to deserialize Metaplex Candy Machine accounts?"
They might either be config accounts or the candy machine account. How to do it? Like, do we have this schema somewhere?

[2021-10-27 15:08] ryanjohn1 opened #44 "EditionData Parent field incorrect"
When Metadata is loaded for an Edition and then the EditionData is deserialized the parent field is incorrect.

According to the docs and Rust code the definition of the Edition data is:
[code]
But the value of parent seems to be returned is the same as the UpdateAuthority of the Edition rather than anything relating to the MasterEdition as it should be.
Tested using the following code and using t

[2021-10-30 14:17] exromany opened #46 "Missed Metaplex Accounts"
Missed Metaplex Account `StoreIndexerV1`, `AuctionCacheV1` which were added at https://github.com/metaplex-foundation/metaplex/pull/528

[code]

[2021-11-02 17:54] kespinola opened #48 "Zero Open Handlers in Test Suite"
## Issue
The test suite fails to mock RPC calls to Solana currently which results in open http handlers that slow down the test suite and prevent jest from exiting cleanly. This issue is tracking the progress of removing open handlers.

[code]

[2021-11-02 17:57] kespinola commented on #48
https://github.com/metaplex/js/pull/47

[2021-11-03 08:21] #48 closed

[2021-11-13 23:50] blockchainlover2019 opened #60 "Transaction succeed but metadata doesn't change"
I used @metaplex/js to update metadata of Metaplex NFT.
The transaction succeed but the metadata account doesn't change.
what's the matter?
This is my code.
[code]

[2021-11-18 09:42] exromany opened #66 "@metaplex/arweave-cost"
Why isn't `ArweaveStorage.getAssetCostToStore` using @metaplex/arweave-cost package?

[2021-11-20 20:45] gxxcastillo opened #69 "Can't resolve dependencies"
I have an existing app that I'm migrating to use metaplex and I'm excited to find this js sdk.  Unfortunately, I have not been able to get it to build with my app as I'm getting a lot of `Can't resolve '<package_name>' in '` errors.

This is happening with many of the metaplex/js dependencies and only with the metaplex/js dependencies.  All of errors go away if I remove the metaplex/js package fro

[2021-11-21 12:36] gxxcastillo commented on #69
Turns out the issue was caused by my local webpack config.  I was using the `webpack -> DirectoryNamedWebpackPlugin` plugin which has a setting that forces the use of the index file of a folder whenever its available.

I've removed it and all is well.

[2021-11-21 12:36] #69 closed

[2021-11-22 09:54] kurpav commented on #60
Hi @blockchainlover2019,
Could you try to update metadata via actions?
https://github.com/metaplex/js/blob/main/src/actions/updateMetadata.ts

[2021-11-22 10:24] blockchainlover2019 commented on #60
I found a solution from https://github.com/metaplex-foundation/metaplex/issues/734#issuecomment-946818503
Thanks.

[2021-11-22 10:24] #60 closed

[2021-11-22 14:36] Findiglay opened #71 "Support winning config types that are not "FullRightsTransfer"?"
I'm trying to use the SDK to place and redeem bids on an instant sale auction where the safety deposit items `winningConfigType` is `WinningConfigType.PrintingV2`. However, because the `redeemBid` action does not handle different cases for `winningConfigType` ([unlike the storefront](https://github.com/metaplex-foundation/metaplex/blob/f28b27e9c5160567468a8ead89fe620edfb80b71/js/packages/web/src/a

[2021-11-24 22:18] Karen-Avdalyan opened #73 "Feature request: Add support for creating auctions"
First of all I really like this package, but I noticed that there is no action for creating auctions. Is it possible to add actions for creating different type of auctions? I think it would be really useful for devs building custom marketplaces.

[2021-11-25 14:34] kurpav commented on #73
Hi @Karen-Avdalyan,
We have this action in our plans, so we'll work on it soon.

[2021-11-25 14:41] kurpav commented on #71
Hi @Findiglay,
It's a known limitation, for now, we'll work on the other types soon.

[2021-11-25 14:54] Findiglay commented on #71
@kurpav would I be able to open a PR to support PrintingV2? I think I might be able to put this together based on the storefront codebase.

[2021-11-29 20:19] Findiglay commented on #71
I'll close issue for now then @kurpav

[2021-11-29 20:19] #71 closed

[2021-11-30 21:17] svc01-metaplex opened #83 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2021-12-01 09:04] #83 closed

[2021-12-03 18:29] kurpav commented on #71
@Findiglay https://github.com/metaplex/js/pull/91

[2021-12-08 15:40] austbot opened #94 "Add Auction House Bindings for JS SDK"

[2021-12-08 16:34] VadimGrozinok opened #112 "add auction-house JS SDK"
- [ ] generate the SDK (Thorsten)
- [ ] add integration tests using the generated SDK

---

Auction-house program: https://github.com/metaplex-foundation/metaplex/tree/master/rust/auction-house
Auction-house JS cli: https://github.com/metaplex-foundation/metaplex/blob/master/js/packages/cli/src/auction-house-cli.ts

Actions to implement:

- [x] Create auction house
- [x] Update auction house
- [x]

[2021-12-08 22:37] aheckmann opened #96 "Action > createAuctionManager"
https://app.asana.com/0/1201365896793010/1201474693794310/f

[2021-12-10 21:29] aheckmann opened #103 "action: redeemParticipationBidV3"

[2021-12-10 23:21] aheckmann opened #105 "Create integration test environment"
Use [amman](https://www.npmjs.com/package/@metaplex-foundation/amman) to set up integration tests with the Metaplex Program Library.

#93

[Original Asana task](https://app.asana.com/0/1201365896793010/1201459122070543/f)

[2021-12-10 23:28] aheckmann opened #106 "Test issue"

[2021-12-10 23:28] #106 closed

[2021-12-10 23:30] aheckmann opened #108 "Test - ignore me"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-12-10 23:30] #108 closed

[2021-12-10 23:47] aheckmann opened #109 "Port Vault actions to SDK"
Port 5 actions from MPL to JS SDK

- [x] Create vault
- [x] Close vault
- [ ] Add tokens to vault
- [ ] Set vault and action authorities
- [ ] Unwind vault

[2021-12-11 00:19] aheckmann opened #110 "Feature: CandyMachine support"

[2021-12-11 00:46] aheckmann commented on #11
looks like the fix landed upstream https://github.com/solana-labs/solana-program-library/pull/2629

[2021-12-12 17:46] alanpilloud opened #111 "find many NFTs by their symbol"
**Is your feature request related to a problem? Please describe.**
I need to retrieve the NFT's in a collection. I think that I can do this using the symbol.

Here is what I unsuccesfuly tried:

[code]

It returns an empty list.

**Describe the solution you'd like**
Maybe we could enhance the findMany method to use the search by symbol.
I could contribute with a PR if I understand what my above is

[2021-12-13 15:10] israelidanny commented on #11
I added a more complete fix but it has a couple of caveats (and a pull request in @solana/buffer-layout that needs merging)
https://github.com/solana-labs/solana-program-library/pull/2634

[2021-12-13 15:16] israelidanny commented on #66
Because I originally wrote it in July (way before @metaplex/arweave-cost existed). But as per my rant in https://github.com/metaplex-foundation/js/issues/22 we should *totally* use that.

@aheckmann should I migrate?

[2021-12-13 15:17] israelidanny commented on #22
Apparently we now have better layering:
https://github.com/metaplex-foundation/js/issues/66

[2021-12-13 15:17] israelidanny commented on #110
So right now I have some uncommitted changes that I need to submit with those actions. Should I track them in Asana or here?

[2021-12-13 16:16] austbot opened #114 "Implement Arweave Bundler Into JSSDK upload functuionality."

[2021-12-13 16:42] aheckmann commented on #22
Make a Storage interface in JS SDK. Move implementation of various storage types out into their own modules.

[2021-12-14 15:44] b2kdaman commented on #96
@aheckmann Working on makeAuction action rn, blocked by `auctionExtended`

[2021-12-15 02:04] jordansexton commented on #11
The relevant PR in `@solana/buffer-layout` has been merged and the package released. No rush from my end, just letting you know!

[2021-12-15 20:07] aheckmann opened #115 "Transaction fee estimator"
Expose a helper method that estimates fees for a given transaction.

[slack convo](https://metaplex.slack.com/archives/C02F63V798V/p1639558048267700?thread_ts=1639493806.261000&cid=C02F63V798V)

References

- https://docs.solana.com/transaction_fees
- https://docs.solana.com/implemented-proposals/transaction-fees
- Fees are calculated by multiplying the number of transaction signatures by [lamport

[2021-12-15 23:09] aheckmann opened #116 "expose metadata instruction: token-metadata instruction: MintNewEditionFromMasterEditionViaVaultProxy"
depends on metaplex-foundation/metaplex-program-library/issues/36

[2021-12-16 01:43] aheckmann opened #118 "Fix CI"
CI has been broken for a long time and is blocking PRs.

[2021-12-16 02:01] aheckmann opened #119 "Run CI in browsers too"
Currently, CI uses `jest` running in the `node` test environment.

**Describe the solution you'd like**
Our tests should exercise our features in a browser environment as well to prove that this works [as advertised](https://github.com/metaplex-foundation/docs/blob/9b9691db67c1cd40bbafc761412738ce06cf394e/docs/development/clients/js-sdk/getting-started.md?plain=1#L13).

[2021-12-16 02:29] aheckmann commented on #118
devnet wallet was empty. topped up. tests pass. Also we are moving to a localnet approach which will remove this issue

[2021-12-16 02:29] #118 closed

[2021-12-16 03:07] genus1 commented on #22
Storage is the main problem with smart contracts.  Eth is outrageous and it killed most others.  Agree implementations should be handled by their own module.  I am looking at a method of using IPNS to point to the initial IPFS data then modify the IPFS file and change the hash in the IPNS.  Data could have categories.  As example the main data suchs as an image for NFT may not be changed, but othe

[2021-12-16 19:58] israelidanny commented on #11
@jordansexton I updated my branch to include the new `@solana/buffer-layout` and removed code made redundant by the new utils package!

[2021-12-17 02:30] aheckmann commented on #94
Closing in favor of #112

[2021-12-17 02:30] #94 closed

[2021-12-17 02:40] aheckmann opened #121 "Auto-generate API docs"
- [ ] automated API docs generation with tsdoc based tool like [typedoc](https://typedoc.org/)
- [ ] auto publishing to a website
- [ ] publishing auto updates docs.metaplex.com

[2021-12-21 08:42] alanpilloud commented on #111
At the moment, I managed to target the main creator using `findMany` from the Metadata program. It works but I fear that it might be imprecise on some collections.

[2021-12-21 11:02] monomadic commented on #41
No, he's right. `Metadata` is not exported because `programs` inside `@metaplex/js` no longer exports `programs`.

I'd suggest downgrading to `4.1.0` and in future upgrade very carefully until they can sort out a proper CI/CD process.

[2021-12-21 20:35] AlberErre commented on #41
Yep, seems like exports are removed from the current version. As @monomadic pointed out, we should downgrade to `4.1.0` until they export them correctly (assuming they still want to export them on this package).

[2021-12-31 13:24] AWolf81 opened #129 "Metadata load example not working"
**Describe the bug**
As mentioned in #41 there is a change in the exports so the first example in [getting-started](https://docs.metaplex.com/sdk/js/getting-started) is not working with v4.10.1.

**To Reproduce**
Try the example code with the version of Metaplex [v4.10.1](https://unpkg.com/@metaplex/js@4.10.1/lib/index.cjs.js).
[code]

**Expected behavior**
The docs should be clear on what to impo

[2022-01-05 22:22] aheckmann opened #132 "semantic-release is broken"
See logs here https://github.com/metaplex-foundation/js/runs/4715770503?check_suite_focus=true

Appears to be related to our recent `yarn@3` upgrade.

[2022-01-05 22:25] aheckmann opened #133 "exports are broken: programs are not exported"
https://github.com/metaplex-foundation/js/blob/main/src/programs/index.ts

Recent change refactored to using MPL but the programs were not exported. Instead, [transactions are exported](https://github.com/metaplex-foundation/js/blob/main/src/programs/shared/index.ts)

[2022-01-06 21:58] #132 closed

[2022-01-06 21:58] aheckmann commented on #132
fixed in #134

[2022-01-07 01:53] zkhalapyan commented on #37
Is there a way to do this without linking locally? Development is harder without relying on NPM to fetch the right version.

[2022-01-07 02:05] aheckmann opened #135 "unable to install from npm"
On OSX

With npm 7.21.0

[code]

With yarn 1.22.17

[code]

[2022-01-07 02:11] aheckmann commented on #37
thanks for the heads up @zkhalapyan . opened a new issue #135

[2022-01-07 02:12] zkhalapyan commented on #37
@aheckmann seems like the blame commit is here: https://github.com/metaplex-foundation/js/commit/292d5c7c2c54a98236a690c160b6ca2a4d99aaf3

Should just revert `postinstall` to `prepare`?

[2022-01-07 02:15] aheckmann commented on #37
[good call](https://github.com/typicode/husky#usage). will PR that

[2022-01-07 02:16] calebporzio commented on #37
Yeah, #127 introduced a regression for this problem.

Until this is fixed in core, you can temporarily fix it by running: `npm install @metaplex/js --ignore-scripts` to skip the "husky" dependancy

[2022-01-07 02:45] #135 closed

[2022-01-07 04:15] verata-veritatis opened #137 "npm installation fails due to husky"
Attempting to install with `npm i @metaplex/js` fails with `4.11.1`:

[code]

There are several issues open about this problem with `husky`. None of the solutions worked. I was able to install `@metaplex/js` without any issue when installing the previous version with `npm i @metaplex/js@4.10.1`. Some change was made in the latest version that broke the installation of `husky`.

[2022-01-07 04:57] aheckmann commented on #137
duplicate of #135. closing

[2022-01-07 04:57] #137 closed

[2022-01-07 04:58] aheckmann commented on #137
still working on getting the updated release out. CI failure

[2022-01-07 05:02] zaxozhu commented on #135
:tada: This issue has been resolved in version 4.11.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@metaplex/js/v/4.11.2)
- [GitHub release](https://github.com/metaplex-foundation/js/releases/tag/v4.11.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-10 15:28] alexgb0 opened #139 "Cannot find name 'Optinal'"
**Describe the bug**
A Typescript Error.

**To Reproduce**
Just installed the package.

**Error**
[code]

**Notes**
I quickly fixed it by adding the declaration of `Optional` in the `@metaplex/js/lib/actions/shared/approve.d.ts` file.

[2022-01-11 04:11] annabnn812 opened #140 "Not all NFTs checked out (mainnet-beta)"
Hey guys! Can someone help me? Not all NFTs checked out (mainnet-beta) I am used Candy Machine-v2 . Uploaded (545) out of (555). How to fix it without deleting the folder " .cache" ?  I know , I know about the instruction "  In this case, you will need to re-run the upload command. Only after the verify command succeeds should you make your Candy Machine live." ---- THIS DOES NOT WORK FOR ME! I se

[2022-01-11 20:29] aheckmann commented on #139
Which package manager did you use? Version?

Which OS? Version?

[2022-01-11 22:03] aheckmann commented on #133
fixed in #138

[2022-01-11 22:03] #133 closed

[2022-01-12 01:34] aheckmann commented on #129
Thanks for the bug report. Fixed in 4.11.3

[2022-01-12 01:34] #129 closed

[2022-01-12 22:00] zkhalapyan commented on #139
Hitting the same issue. Using npm. Installing `"@metaplex/js": "^4.11.1",`

Can't build with this issue — do we run tsc builds as smoke tests before shipping? I wonder if there is way to prevent these issues from getting shipped to prod.

[code]

Here is my package.json:

[code]

[2022-01-12 23:41] zkhalapyan commented on #139
Here are my versions:

[code]

[2022-01-12 23:42] zkhalapyan commented on #139
Building with both yarn and npm fail with the same error message.

[2022-01-13 00:35] zkhalapyan opened #143 "yarn build is failing: [!] Error: Package subpath './package.json' is not defined by "exports""
**Can't run yarn build**

## Steps to reproduce
1. Clone repo
2. Call `yarn install`
3. Call `yarn build`

Notice that yarn fails:

[code]

## Here are my versions:

[code]

[2022-01-13 00:40] zkhalapyan commented on #143
Ah, just noticed [.nvmrc](https://github.com/metaplex-foundation/js/blob/main/.nvmrc) which defines the node version to use for building. I was on 17+, but seems like this library requires 14. Closing for now.

[2022-01-13 01:15] zkhalapyan commented on #139
The pull request should resolve this, @aheckmann can you please review? 🙏

Also, is there a way to check that the library builds externally so that we could include this check in the CI? 🤷‍♂️ It's interesting that local builds are fine i.e. just calling `yarn build`, but importing it into another library breaks.

[2022-01-13 03:26] aheckmann commented on #139
Checked it out quick before heading out - couldn't install this package.json with `npm@7.22.17`, got it to install w `yarn@1.22.17` but the `build` command only triggers the `tsc` help info. Will try again later when I get an internet connection and get npm 8.

[2022-01-13 08:51] #139 closed

[2022-01-13 09:12] zaxozhu commented on #139
:tada: This issue has been resolved in version 4.11.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@metaplex/js/v/4.11.4)
- [GitHub release](https://github.com/metaplex-foundation/js/releases/tag/v4.11.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-13 09:28] dtome123 opened #145 "Utility modules don't export in actions/index.ts"
**Describe the bug**
Utility modules don't export

Desciption:
I try to call **createExternalPriceAccount** function but it can't found. I realize that all modules of utility folder are not exported in file index.ts (actions). So it is a bug ?

Thanks

[2022-01-13 16:29] aheckmann commented on #145
Yep! Good catch. This was missed in https://github.com/metaplex-foundation/js/commit/715d1d4b98c64f3656b0d4a5dc6d0b77041171bf

Will update today

[2022-01-13 16:33] aheckmann commented on #105
Closed by https://github.com/metaplex-foundation/js/pull/93

[2022-01-13 20:51] #145 closed

[2022-01-13 21:16] zaxozhu commented on #145
:tada: This issue has been resolved in version 4.11.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@metaplex/js/v/4.11.5)
- [GitHub release](https://github.com/metaplex-foundation/js/releases/tag/v4.11.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-15 18:14] dtome123 opened #148 "Question about InitAuctionManagerV2"
Sorry, I have a question. I saw code t in metaplex-foundation/metaplex/js/packages/web/actions and it use **"initAuctionManagerV2"** function in **createAuctionManager.ts**. But javascript JDK don't have it, and I used the "**InitAuctionManagerV2**" class to create auction manager. Then it failed because of **acceptPaymentAccount** parameter. So in the future,  will be **createAuctionManager** or

[2022-01-17 10:02] dtome123 opened #149 "Missing validate_safety_deposit_box"
I read your "Metaplex Developer Guide" (https://github.com/metaplex-foundation/metaplex/blob/master/ARCHITECTURE.md). To start auction, I must _validate_safety_deposit_box_ but this function is not in JDK. So it's missing, isn't it?

Thank you

![image](https://user-images.githubusercontent.com/48994663/149746733-e33583c6-9943-43f2-8fad-2af8791c11bb.png)

[2022-01-19 22:02] zaxozhu commented on #121
:tada: This issue has been resolved in version 4.11.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@metaplex/js/v/4.11.7)
- [GitHub release](https://github.com/metaplex-foundation/js/releases/tag/v4.11.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-20 18:14] #20 closed

[2022-01-20 19:09] austbot opened #152 "Create TokenMetadata abstraction"

[2022-01-22 05:02] dtome123 opened #155 "Error in actions.placeBid"
There a bug when I call **actions.placeBid** function, it is "Bidder Pot Token Must be a new account". Then I read source code and everything is normal. Why did that happen?
![image](https://user-images.githubusercontent.com/48994663/150625184-8848015b-2d63-43cf-abf6-622803edcd63.png)
                                                                                      _(error)_
![image](https://u

[2022-01-22 18:33] israelidanny opened #157 "Minor type question"
I noticed a minor typing inconsistency while documenting the project.

`@solana/web3.js` exports a type alias named `TransactionSignature`:
[code]

In the following action (`sendTransaction`) we implicitly use that type alias because we return the output of `connection.sendRawTransaction`:
https://github.com/metaplex-foundation/js/blob/main/src/actions/transactions.ts#L29

On the other hand, in ot

[2022-01-24 15:01] #112 closed

[2022-01-24 17:43] austbot opened #158 "JS SDK MVP"

[2022-01-25 11:19] freahmanCoder opened #159 "problem when init vault"
**Describe the bug**
      I was trying to follow the [metaplex/ARCHITECTURE](https://github.com/metaplex-foundation/metaplex/blob/master/ARCHITECTURE.md) to go through the auction create process on the newest branch, at the step that init_vault I have find that a vault programId is required, so I assume I need to createVault first. I write a test just like [ js/test/actions/utility/createVault.te

[2022-01-25 11:39] Jeffrieh commented on #159
same issue here.

[2022-01-25 19:53] exromany commented on #155
since this https://github.com/metaplex-foundation/metaplex-program-library/pull/101
[code]

[2022-01-25 20:20] aheckmann commented on #157
It's more helpful to users to reexport / use `TransactionSignature` everywhere. They'll be able to look up what that is and better understand what is happening. Ditch the `Promise<string>`

[2022-01-25 20:20] #157 closed

[2022-01-25 20:23] aheckmann commented on #148
This project is not a 1-1 mapping of what is in the metaplex ui. However, this project will soon support all core functionality of our MPL rust programs. We are very actively working on code generation tools to fast forward this project. Stay tuned.

[2022-01-25 20:23] #148 closed

[2022-01-25 20:26] aheckmann commented on #155
Need to port this fix over https://github.com/metaplex-foundation/metaplex/pull/1557

[2022-01-25 20:41] aheckmann commented on #11
Update: the upstream changes are still in progress in https://github.com/solana-labs/solana-program-library/pull/2634

[2022-01-25 21:44] aheckmann opened #160 "Add tests for each action"
https://github.com/metaplex-foundation/js/tree/main/src/actions

All exposed features must work reliably.

For new integration tests, use localnet with amman. [Example](https://github.com/metaplex-foundation/js/blob/main/test/actions/mintNFT.test.ts)

[2022-01-25 21:49] aheckmann opened #161 "search: byStoreCreator"
Provide public method allowing NFT lookup by store creator

[2022-01-25 21:49] aheckmann opened #162 "search: byStoreCreator"
Provide public method allowing NFT lookup by store creator

[2022-01-25 21:51] aheckmann opened #163 "search: byUpdateAuthority"
Provide public method allowing NFT lookup by update authority

[2022-01-26 01:36] aheckmann opened #164 "completed API documentation"
- [ ]API docs
- [ ] inline docs

See: https://github.com/metaplex-foundation/js/pull/156/files

[2022-01-26 05:53] dtome123 commented on #159
createExternalPriceAccount function return many value so can you try that:

const {
        externalPriceAccount,
        priceMint,
        txId: epa_txId
    } = await createExternalPriceAccount({connection,wallet});

[2022-01-26 06:10] dtome123 commented on #155
I try like sugget of exromany then it pass old bug but it have new bug
![image](https://user-images.githubusercontent.com/48994663/151112281-3d9bf41e-2087-4f4c-a92f-cf235e6ea8ed.png)

[2022-01-26 06:44] freahmanCoder commented on #159
I try it and it seems not get better, it throw a new error at the Transaction.compileMessage method before the transaction is send to the chain, here is the error message
-----------------------------------------------------------------------------------------------
(node:14116) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'toBase58' of undefined
    at D:\solona\node_modules\

[2022-01-26 07:41] dtome123 commented on #159
In my case, I use useAnchorWallet (@solana/wallet-adapter-vue) so I think bug from wallet vaiable. If it don't pass , i don't know how to fix

[2022-01-26 15:53] exromany commented on #155
because simulation fails. you can use `connection.sendRawTransaction` with `skipPreflight` to skip simulation
[code]

[2022-01-26 21:21] tengu-br commented on #159
Same issue here, simply following the test's code does not work.
The last instruction from the batch logs this:

[code]

[2022-01-27 02:56] dtome123 commented on #155
But after executing, it is still an error transaction so it's not better than. Do you think error from logic code somewhere like smart contract? Because if I use old code in JDK, error is **"Bidder Pot Token must be a new account"**. Then I use your code, it pass but new error  is **"instruction requires an initialized account"**. Is there a conflict here? Thank for your help

[2022-01-27 15:59] aheckmann opened #167 "auto-dependency management"
Enable dependabot for automated dependency updates

https://github.blog/2020-06-01-keep-all-your-packages-up-to-date-with-dependabot/

relates to #165

[2022-02-01 04:01] dino-rodriguez opened #169 "Can't use library - typescript error with bn.js dependancy"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Install metaplex js
Attempt to import something from it and run

**Expected behavior**
A clear and concise description of what you expected to happen.
[code]

**Additional context**
Add any other context about the problem here.

[2022-02-01 15:13] basvanberckel commented on #159
Confirming the EPA transaction should resolve this. Whether that is a direct solution, or just enough delay for something else to fix itself, I am not sure. The panic happens when loading account info, so it is possible that the EPA does not exist yet during the preflight check and it panics on loading that account.

[2022-02-01 15:17] basvanberckel commented on #169
You can enable "esModuleInterop" in your tsconfig, that should work around the issue for now.

[2022-02-01 19:57] dino-rodriguez commented on #169
Thank you. I had it enabled but was using the global version of typescript instead of the locally installed one. Closing out this issue

[2022-02-01 19:57] #169 closed

[2022-02-02 11:04] basvanberckel opened #170 "test:build broken since latest mpl-token-metadata change"
**Describe the bug**
The build.ts script for the test:build npm script is broken since https://github.com/metaplex-foundation/metaplex-program-library/commit/df7a8d5bc644869e1292f18c76287194c1227f61

The mpl-token-metadata.so binary is now placed in another directory, meaning amman cannot find the program file anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. run `npm test:build`
2. r

[2022-02-02 15:13] AmmarKhalid123 commented on #155
@basvanberckel  @dtome123  I am facing this same issue, any idea on how to fix this ?

[2022-02-02 15:20] basvanberckel commented on #155
I believe this is already enough to fix this error: https://github.com/metaplex-foundation/js/pull/172

[2022-02-02 15:29] AmmarKhalid123 commented on #155
Yes this seems correct. I hope it gets accepted soon enough

[2022-02-02 16:15] AmmarKhalid123 commented on #155
@basvanberckel  Is there any way I can use your forked repo to test this solution, and continue on my work until your PR is committed? I have run `npm install git+https://github.com/Beemup/metaplex-js-sdk.git` but unable to import from @metaplex/js, maybe because "lib" folder is missing in the node_modules/@metaplex/js/, which was there when I installed using`npm install @metaplex/js`.

[2022-02-02 16:17] basvanberckel commented on #155
What does your import/require statement look like in your app code? You shouldn't need to import from /lib, just from '@metaplex/js'

[2022-02-02 16:23] AmmarKhalid123 commented on #155
`import { Connection, actions } from '@metaplex/js';`

[2022-02-02 16:34] AmmarKhalid123 commented on #155
On this import, I'm getting error: `Module not found: Can't resolve '@metaplex/js' in 'D:\Office\SolMarketplace\solmarket\src'` . Am I doing something wrong? @basvanberckel

[2022-02-02 17:03] basvanberckel commented on #155
Yeah, my bad, you can't directly install from this repo as the artifacts aren't included.
Clone the repo, build it and install that as a dependency to your own project:

[code]

[2022-02-02 17:47] AmmarKhalid123 commented on #155
@basvanberckel I'm still getting the same error btw :( Have you tested out this solution on your end?

[2022-02-02 17:56] AmmarKhalid123 commented on #155
Just to clarify, imports are working fine, but I'm getting the initial error of "Bidder pot token must be a new account" on actions.placeBid
@basvanberckel

[2022-02-02 17:59] basvanberckel commented on #155
I have my own implementation of placebid that fixes both these errors, the fix linked in this thread above together with my pull request should resolve both. I am not able to write a full test for this right now, there should be a unit test if this needs to be verified in the future.

[2022-02-02 18:15] AmmarKhalid123 commented on #155
Are you talking about this fix?

[2022-02-02 18:19] basvanberckel commented on #155
The bidder token address should be generated like in https://github.com/metaplex-foundation/metaplex/pull/1557

That will resolve the initial error of this issue.

The transaction order should be changed like in my PR, that will resolve the UninitializedAccount error. It is also an option to remove the revoke instruction entirely, like in https://github.com/metaplex-foundation/metaplex/pull/1557

[2022-02-02 19:14] basvanberckel commented on #155
I've updated the pr to fix both errors. @AmmarKhalid123 Would you be able to verify this works in your setup?

[2022-02-02 19:18] AmmarKhalid123 commented on #155
I will check right away and let you know

[2022-02-02 20:11] AmmarKhalid123 commented on #155
Works like a charm.

[2022-02-02 20:22] AmmarKhalid123 commented on #155
@basvanberckel forgot, there was an import of AuctionProgram I remember missing, placeBid.ts file. I got it when tried to build the project, otherwise works great.

[2022-02-03 08:36] basvanberckel commented on #155
Ah yes, thanks. Fixed that now

[2022-02-07 20:48] tengu-br opened #174 "How do we validate safety deposit boxes using this SDK?"
As described in the official documentation [here](https://docs.metaplex.com/architecture/basic_flow), the 11th step to launch an auction is to call the `validate_safety_deposit_box` endpoint on the metaplex program, but I can't seem to find a way to do that using the functions provided by this SDK nor any tests that show how to do it manually.

[2022-02-08 02:45] freahmanCoder commented on #159
where can I set the EPA transaction exactly? I'm new to blockchain and really not much about it on internet, ty.

[2022-02-08 06:05] #159 closed

[2022-02-08 06:10] freahmanCoder commented on #159
it work ! it finally return me a vault key that I can use, I hope they fix this issue in the future.

[2022-02-09 00:23] VikashAnandJha opened #175 "Get all NFT by owner's public address"
Hey team how can i get list of all the nft owned by a public address

[2022-02-09 08:30] freahmanCoder commented on #174
same here

[2022-02-10 02:25] AmmarKhalid123 commented on #175
`import { getParsedNftAccountsByOwner,isValidSolanaAddress, createConnectionConfig,} from "@nfteyez/sol-rayz";
 import { clusterApiUrl, PublicKey } from "@solana/web3.js";

const getAllNftData = async () => {
    try {
      if (connectedAddr) {
        const connect = createConnectionConfig(clusterApiUrl("devnet"));
        const provider = window.solana; //make sure phantom is installed and conn

[2022-02-10 02:27] AmmarKhalid123 commented on #175
[code]
This works just fine for me.

[2022-02-11 10:35] walshe opened #176 "Fungible asset example ?"
Hi,

are there any examples or tests in here that create a sample fungible token with metadata that gives it a FungibleAsset tokenstandard ?

[2022-02-15 06:54] sava-1729 opened #177 "@metaplex/js not working when imported via a CDN"
**Description**
I need to use the `@metaplex/js` library for a website I'm developing, wherein I want to get the metadata of SPL Tokens.
After a lot of searching, I found this [stackoverflow](https://stackoverflow.com/questions/69900783/how-to-get-metadata-from-a-token-adress-using-web3-js-on-solana) question, and the only answer to it suggests using the metaplex library. And it makes sense to use

[2022-02-16 19:11] sava-1729 commented on #177
It turns out that including a different file solves the issue:
`<script src="https://unpkg.com/@metaplex/js@4.12.0/lib/index.iife.min.js"></script>`

Is there a way to know, in general, which file to include using unpkg, so as to gain access to the library?

Also, as an aside, is it possible to create and mint NFTs with metadata (aka "collectibles") entirely using the `metaplexjs` library, instead

[2022-02-18 18:30] austbot opened #178 "Create API Interface SPIKE"
A SPIKE is a throw-away research deliverable that forms a concrete project:

Make an API interface for the JSSDK under the core principle of the JSSDK being packaged for Domain Models and Use Cases

[2022-02-19 11:52] akkySrivastava opened #179 "initAuctionManagerV2() function is missing from SDK. How can we achieve this method ? Is there any other option for initiating auction manager program ?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-02-19 11:58] akkySrivastava opened #180 "setVaultAndAuctionAuthorities() action method is missing from SDK () ? Is there any other way to achieve this method using SDK ?"
Is there any other way to process setVaultAndAuctionAuthorities() method ?

[2022-02-19 12:06] akkySrivastava opened #181 "validateBoxes() method is messing from SDK ? Is there any other way to achieve this method ?"

[2022-02-19 12:23] akkySrivastava commented on #174
I'm also looking for the same.

[2022-02-19 12:39] AnuragSinghKushwah commented on #174
Same here

[2022-02-21 12:29] littleV opened #182 "initStore is not compatible with solana wallet adapter"
**Describe the bug**
initStore is not using the wallet.publicKey properly when setting the admin using new PublicKey() from web3.js

**To Reproduce**
Use the following code in a next.js project
[code]

It logs an error "TypeError: Cannot read properties of undefined (reading '_bn')"
because of [this line](https://github.com/metaplex-foundation/js/blob/a4274ec97c6599dbfae8860ae2edc03f49d35d68/src/a

[2022-02-23 01:01] KarthikaPJAccubits opened #183 "instantSale Error"
I’m currently trying to use the @metaplex/js sdk to create the auction and then buying one of the editions for a fixed instant sale price. In final step “instantSale” I get the following error **“Error: Unable to find account:** …

MetaplexError: Unable to find account: CTXJV1fbNg6VmCAvCuDvQqEkSArnpa59NCsd7Ms6L8BP
    at ERROR_ACCOUNT_NOT_FOUND (/home/accubits/Mint_API_TS/node_modules/@metaplex-fo

[2022-02-25 03:36] littleV commented on #182
Nvm, I figured it out that I was not passing the wallet to initStore properly.

[2022-02-25 03:36] #182 closed

[2022-02-25 21:22] Kenny4444 opened #184 "Unable to Mint a Master Edition NFT with supply of 0"
In trying to create an NFT from mintNFT I found that there is not way to create a NFT with a supply of 0.

Steps to Repro:
Call Mint Nft with a supply of 0.
Notice that the maxSupply is set to Null or Undefined

Expected Behavior:
The nft is created with maxSupply of 0 so that there cannot be any limited edition prints on it.

There seems to be an issue on line 98 of mintNFT.ts in the creation of

[2022-03-01 04:51] swaroopmaddu commented on #159
Same issue here any help. How can I Confirm the EPA transaction? @basvanberckel @freahmanCoder

[2022-03-01 15:16] AmmarKhalid123 commented on #174
@tengu-br @AnuragSinghKushwah @akkySrivastava  @freahmanCoder  Have you guys been able to do the steps from 5-10 of launching an auction using metaplex/js sdk? If yes, can you guide me the methods you've used in doing so ?

[2022-03-03 09:59] littleV commented on #174
same here.

[2022-03-03 17:25] kylebragger opened #186 "[Bug]: mintNFT + mintEditionFromMaster with maxSupply causes Total Supply to still be set to 1 and some tx failures for the editions"

[2022-03-07 15:31] ShuklaSushant commented on #159
I am also facing the same issue..any help will be highly appreciated.. @swaroopmaddu  @basvanberckel @freahmanCoder

[2022-03-07 15:42] ShuklaSushant commented on #159
Ho to confirm the EPA transaction?

[2022-03-12 13:59] clibc opened #187 "ERROR_INVALID_OWNER"
**Describe the bug**
Given code produces this error :
[code]

**To Reproduce**
Steps to reproduce the behavior:
Run this code
[code]

**Expected behavior**
I was expected to get metadata of token account

**Desktop (please complete the following information):**
 - OS: Windows

[2022-03-13 16:03] aliiqbal436 opened #188 "Supplied an invalid creator index to empty payment account"
**I am getting this error while validating auction.**

**Screenshots**
<img width="971" alt="image" src="https://user-images.githubusercontent.com/36224038/158068455-418b7344-2adf-434a-ac49-4bc1cacc713f.png">

[2022-03-13 16:05] aliiqbal436 commented on #174
Same here i did write code about it but getting this error.
<img width="1011" alt="image" src="https://user-images.githubusercontent.com/36224038/158068401-f8ce09ba-6882-4c48-b8ee-6f3a27751572.png">

[2022-03-13 16:07] aliiqbal436 commented on #174
@AmmarKhalid123 This will help you. I am also following it.

https://github.com/blockforce-official/cryptum-sdk/blob/844fc8428cb60385c13a818ed2ad9125d1e8cb85/src/services/blockchain/solana/index.js#L421

[2022-03-16 03:34] nibbus0x commented on #177
Hi, I'm trying to include this cdn in my website, but I keep getting this error: `Uncaught ReferenceError: splToken is not defined`.
I'm assuming that I have to also use the `@solana/spl-token` cdn. Do you have that link as well?

[2022-03-16 14:43] AmmarKhalid123 commented on #174
I think the file @aliiqbal436 mentioned in the above reply contains a function validateAuction @LineNo: 618, which is basically validating the safety deposit box as mentioned in the metaplex docs for launching auction in step 11.

[2022-03-16 15:07] aliiqbal436 commented on #174
@AmmarKhalid123 Yes it is but I'm getting the error..
Do you have the exact code of it?

[2022-03-16 20:12] ShuklaSushant commented on #183
I hope you have created vault first then added NFt then create auction & auction manager & then set authority.. follow https://docs.metaplex.com/architecture/basic_flow#2-the-auction

[2022-03-16 20:13] ShuklaSushant commented on #180
You can club SetAuthority of Vault & Auction in a single transaction

[2022-03-16 20:19] ShuklaSushant commented on #174
I am also struggling on this from last many days...`validateAuction` from https://github.com/blockforce-official/cryptum-sdk/blob/844fc8428cb60385c13a818ed2ad9125d1e8cb85/src/services/blockchain/solana/index.js#L618 uses solana native transaction & gives me "Assert Error" on ` const safetyDepositConfigArgs = new SafetyDepositConfig({`

[2022-03-16 20:21] ShuklaSushant commented on #174
@akkySrivastava @aliiqbal436 @AmmarKhalid123 Have you got solution for this problem?

[2022-03-17 04:02] aliiqbal436 commented on #174
@ShuklaSushant nope.

[2022-03-17 13:36] amurad77 commented on #187
Qəliz məsələdir 'Yola ver'ə basın

[2022-03-19 00:37] AmmarKhalid123 commented on #188
@aliiqbal436  which metadata are you passing in the validate auction? I was passing the metadata returned from addTokenToVault, and was receiving the same error. Change that to the metadata value returned from mintNFT function and it will hopefully resolve

[2022-03-19 12:29] ShuklaSushant commented on #174
@AmmarKhalid123 I am also stuck on this error
i am passing `TokenMetadata` of NFT which is in vault , is this wrong?

[2022-03-20 03:56] bassmoneynft commented on #174
I am having this same error. I am passing the PDA from the Metaplex Metadata program: `await Metadata.getPDA(mint)` where `mint` is the mint key from `mintNFT()` ... any more insight would be great.

[2022-03-20 03:57] AmmarKhalid123 commented on #174
@ShuklaSushant  I'm passing the "metadata" received in response when I mint NFT using mintNFT function from the sdk and working perfect for me

[2022-03-20 05:45] ShuklaSushant commented on #174
@AmmarKhalid123 Thanks for response
My observation : When i use MasterEdition to create Vault, Auction & Auction Manager then it work like a charm
But When i use Print of MasterEdition then it doesn't work & give same error which is faced by everyone.

I am still wondering why?

[2022-03-20 07:25] flatplate commented on #187
I have the same problem, can't query anything other than the given public key in the docs 🤔

[2022-03-20 15:08] solremmy opened #191 "sendToken() returns "Transaction simulation failed" error"
I'm trying to write simple script to send minted NFTs to an address. I'm using actions.mintNFT() function to mint them and actions.sendToken() to transfer. Unfortunately, sendToken() returns "Transaction simulation failed: Error processing Instruction 0: incorrect program id for instruction" error.

**To Reproduce**
Create simple sendNFT instruction:
`const sendNFT = await actions.sendToken({

[2022-03-20 19:16] ShuklaSushant commented on #174
I am studying all the transactions of `instantSale` , so far i have found `9 out of 11` , can anyone help about last 2 transactions

[2022-03-20 19:17] ShuklaSushant commented on #188
Duplicate issue : https://github.com/metaplex-foundation/js/issues/174

[2022-03-20 19:19] ShuklaSushant commented on #183
There are in total 11 transactions that happen on blockchain...i have found 9 out of 11 , still stuck on last 2 transactions

[2022-03-20 19:39] ShuklaSushant commented on #183
i am analyzing all the transactions of instantsale , there are in total 11 transaction , i have found 9 of them
Need help in last 2
createExternalPriceAccount --> createVault --> addTokensToVault --> closeVault --> initAuction --> InitAuctionManagerV2 --> SetVaultAndAuctionAuthorities --> ValidateSafetyDepositBox --> StartAuction

I hope this flow will help anyone who is also trying to study insta

[2022-03-21 22:44] #177 closed

[2022-03-22 01:06] bassmoneynft commented on #174
Can confirm passing `metadata` from `mintNFT()` response corrects the 'Invalid Creator Index' error from `ValidateSafetyDepositBoxV2`.

[2022-03-22 17:45] #178 closed

[2022-03-22 17:46] darainj opened #192 "Error: Bidder Pot Token Must be a new account when using instant sale"
Steps to reproduce:
1. call instantSale(with appropriate params)

`SendTransactionError: failed to send transaction: Transaction simulation failed: Error processing Instruction 5: custom program error: 0x1f
    at Connection.sendEncodedTransaction (/Users/darashahriari/injective/sol_secret_bot/node_modules/@solana/web3.js/lib/index.cjs.js:6591:13)
    at runMicrotasks (<anonymous>)
    at processT

[2022-03-22 17:55] bassmoneynft commented on #192
This is an open PR that fixes this: https://github.com/metaplex-foundation/js/pull/172 as discussed in  https://github.com/metaplex-foundation/js/issues/155

[2022-03-24 06:11] aliiqbal436 commented on #188
@AmmarKhalid123 we are passing token metadata.
And we have completed the create auction work and it's working.

[2022-03-24 06:12] aliiqbal436 commented on #188
@AmmarKhalid123  We need any help let me know.

[2022-03-24 13:08] AmmarKhalid123 commented on #188
@aliiqbal436  have you been able to run end auction successfully?

[2022-03-24 13:14] aliiqbal436 commented on #188
@AmmarKhalid123 not we are working on it.
Just created and start the auction successfully yet.

[2022-03-25 21:36] ali-ahari-hashemi commented on #187
Any updates with this? Running into the same issue.

[2022-03-25 21:45] ali-ahari-hashemi commented on #187
Check out the issue here: https://github.com/metaplex-foundation/js/issues/39

Was using the wrong pubkey.

[2022-03-25 23:33] clibc commented on #187
export async function GetMetadata(token_pubkey) {
    const mintPubkey = new PublicKey(token_pubkey);
    const tokenmetaPubkey = await Metadata.getPDA(mintPubkey);

    try {
        const tokenmeta = await Metadata.load(connection, tokenmetaPubkey);
        return tokenmeta;
    }
    catch {
        console.log("unable to find token metadata: " + token_pubkey);
        return undefined;
    }
}

[2022-03-25 23:33] #187 closed

[2022-03-26 20:25] aliiqbal436 commented on #188
@AmmarKhalid123 have to done with finish auction work?

[2022-03-27 04:02] jordansexton commented on #11
https://github.com/solana-labs/solana-program-library/pull/2634 has been merged. Thank you for your patience! Which NPM packages are you blocked on here?

[2022-03-27 13:30] AmmarKhalid123 commented on #188
Yes I'm done with finish auction.

[2022-03-28 01:12] ShuklaSushant commented on #188
@AmmarKhalid123 I am struggling with `instant Sale` ,have you completed that?

[2022-03-29 19:28] AmmarKhalid123 commented on #188
I haven't used their instantSale method, since it doesn't suit our requirements, so I'm not sure about that. Also in my current setup, the steps you mentioned are same to launch an auction

[2022-03-31 16:07] aliiqbal436 commented on #188
@ShuklaSushant have you started auction using `actions` methods? then don't us that it's not working.
Create auction using classes and instructions. for example import classes like that.

`const auctionInstruction new programs.auction.CreateAuction(CreateArgeParams);
`
and sign and send transaction.

[2022-03-31 16:11] #188 closed

[2022-04-02 08:42] jhubbardsf commented on #39
Am I missing something or is this still not covered anywhere in the docs?

[2022-04-06 09:02] nurav97 commented on #188
@aliiqbal436  can you post a sample code for single NFT auction using metaplex js it would be of great help

[2022-04-06 09:07] nurav97 commented on #183
@KarthikaPJAccubits can you post a sample code of how you implemented auction flow as i am stuck on it

[2022-04-08 05:40] nurav97 opened #194 "Unable to use InitAuctionManagerV2() instruction"
get the following custom error code 0x33 when creating instruction for  InitAuctionManagerV2 dont know what is wrong . need your help finding out what the error code means

also if their is a list of error code any where please share

-----------------------------------------------------------------------------------------------------------------------------------------------
Error: failed to send

[2022-04-11 04:30] nurav97 commented on #183
@ShuklaSushant i am getting custom error code 0x33 when running InitAuctionManagerV2 instruction can you help me as i am stuck on this from many days

[2022-04-11 15:06] #174 closed

[2022-04-14 10:19] nurav97 commented on #174
![brave_5i3Bf9ODoi](https://user-images.githubusercontent.com/89197239/163365379-bcae2bbe-a9b5-4bbb-8069-3c21d0fc2496.png)

Did anyone get this error on validate auction instruction

[2022-04-18 15:12] nicholasoxford opened #195 "mintEditionFromMaster() has no cost benefit to mintNFT()"
**Describe the bug**
I expected mintEditionFromMaster() to save me rent, as the token metadata account already exist. After a few test I thinking mintingFromMaster actually has higher cost than just minting a master.

**Expected behavior**
Expectation is a weird word, but I expected it to be some what more economical to mint from master.

**Additional context**
mintNFT transaction: [Solana Explore

[2022-04-21 04:53] jackbbhua opened #196 "how to parse buffer data return from js SDK?"
how to parse buffer data return from js SDK?

it shows like this type: "Buffer",
data: [
10,
183,
200,
146,
174,
179,
202,
255,
59,
237,
71,
198,
14,
93,
80,
130,
36,
243,
239,
156,
123,
105,
168,
4,
229,
71,
114,
217,
106,
120,
80,
194,
62,
99,
122,
25,
138,
245,
124,
191,
39,
221,
52,
32,
209,
47,
1,
8,
91,
92,
26,
94,
48,
62,
135,
9,
16,
63,
82,
143,
32,
152,
16,
200,
74,
155,
76,
202,
43,
34,

[2022-04-22 10:15] nurav97 opened #197 "custom program error: 0x1f PlaceBid()"
i am getting the custom error code 0x1f i dont know what it means please need your help

[2022-04-27 06:52] #196 closed

[2022-04-28 23:44] zkhalapyan opened #198 "Can you mint 1:1 NFT without Candy Machine?"
**Is your feature request related to a problem? Please describe.**
I working on a 1:1 marketplace project — is there a way to bypass Candy Machine and use JS APIs to mint?

**Describe the solution you'd like**
Call mint(URL) and get a token ID back...

**Describe alternatives you've considered**
Can create a candy machine every single time for every single 1:1 NFT 😢

[2022-04-29 07:13] pguardiario commented on #111
Can you show how you did that? I'm getting fetch errors when I try it that way.

[2022-04-30 14:11] ShuklaSushant commented on #197
I am also getting the same problem with JS SDK?
Are you able to get it done from metaplex UI?

[2022-05-02 04:06] nurav97 commented on #197
@ShuklaSushant  you will have to edit the code of JS SDK from this pull request

https://github.com/metaplex-foundation/js/pull/172 and then compile it and then it will work as the PR is not merged yet

[2022-05-04 08:36] jackbbhua opened #199 "MetaplexError: Invalid owner"
when i use Auction load to load other program, it shows MetaplexError: Invalid owner

  const auctionKey = new PublicKey(
    "E****We"
  );
  const auction = await Auction.load(connection, auctionKey);

anyone know the error is ?

[2022-05-19 12:02] KKQanT commented on #198
https://solanacookbook.com/references/nfts.html#mint-the-nft

Check this out, sir.

[2022-05-19 12:06] KKQanT opened #201 "How to succesfully freeze the NFT account? I have also done some experiment but I failed. Has anyone successfully done it? Thank you in advanced"
Hello, since the contract also take the freeze authority away from the user. I also have read [issue178](https://github.com/metaplex-foundation/metaplex-program-library/discussions/178) and tried out the new feature

I have minted the NFT via action.mintNFT from "@metaplex/js" and use the add createFreezeDelegatedAccountInstruction to the transaction to **try to freeze the token account.**

NFT mi

[2022-05-25 00:12] HAL68000 opened #202 "'"@solana/web3.js"' has no exported member 'TransactionCtorFields'."
Hi everyone, I am trying to integrate metaplex to my angular project but on import I've got the following error:

Error: node_modules/@metaplex/js/lib/transactions/PayForFiles.d.ts:3:21 - error TS2305: Module '"@solana/web3.js"' has no exported member 'TransactionCtorFields'.

****To Reproduce****
Steps to reproduce the behavior:

1.  installl the metaplex library with: npm install @metaplex/js
2.

[2022-05-27 20:28] kennethcassel opened #204 "Update readme with indication that a new js package is being worked on"
**Is your feature request related to a problem? Please describe.**
Ran into a dependency conflict while trying to create a script which would mint NFT's and send them to a user.

Ended up finding [this SO answer](https://stackoverflow.com/a/72226972) that describes the dependency conflict

It goes on to note that the `@metaplex/js` library will be depreacted

**Describe the solution you'd like**
U

[2022-06-01 08:16] speculees commented on #202
I am using https://www.typescriptlang.org/tsconfig#skipLibCheck until this issue is resolved. I think the problem is that @solana/web3.js is a package dependency instead of peer dependency. If it would be a peer dep, then we could downgrade @solana/web3.js package to a version that has TransactionCtorFields. I just don't understand why the devs at @solana/web3.js decided to rename the TransactionC

[2022-06-02 02:18] steveluscher commented on #202
Sorry about this. The _real_ problem here is that we export _way_ too much stuff from web3.js, and the _only_ reason we export a type like this that's fundamentally internal is because of TypeDoc (the thing that generates our documentation). I plan not to make this mistake again when we rewrite web3.js.

I will send a PR now to fix this once and for all.